/* For invisible scrollbar */
.hidden-scrollbar {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
.hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
} /* END: For invisible scrollbar */
