.slick-next:before, .slick-prev:before {
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: #2074D5;
}

.slick-next {
    right: -13px;
}
.slick-prev {
    left: -28px;
}
.slick-dots {
    bottom: -70px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}